.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px;
    gap: 20px;
}
.input-field{
    height: 40px;
    width: 500px;
    background-color: white;
    color: black;
    font-size: 30px;
    padding-left: 30px;
    border-radius: 10px;
}
.btn {
    height: 40px;
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(6, 6, 94); /* Default button color */
    color: white;
  }
  
  .number-input{
    height: 30px;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding-left: 30px;
    border-radius: 10px;
  }
  .btn:hover {
    background-color:rgb(6, 6, 94); 
  
  .btn:active {
    background-color: rgb(6, 6, 94); 
  }
  
  .btn:focus {
    outline: none; 
  }
  
}