/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .socials a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-form .btn {
    width: 100%;
  }
  
  .footer-bottom {
   background-color:  rgb(6, 6, 94);
    text-align: center;
    padding: 10px 0;
  }
  