:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0e1591;
  }
  button {
    background-color: #f9f9f9;
  }
}


.logIng {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px 10px;
}
.formInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px 10px;
}
.formInput > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.help-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-section {
  margin-top: 20px;
}

.faq-item {
  margin-bottom: 10px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .help-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .help-container {
    padding: 5px;
  }
}

.Shimer-card {
  height: 200px;
  width: 200px;
  background-color: #b9bbbd;
 
  margin: 0 40px;
}
.restrountList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
  gap: 80px;
}
.second-simmercard {

  height: 20px;
  width: 200px;
  background-color: #b9bbbd;
  
}

.third-shimmercard {
  height: 20px;
  width: 120px;
  background-color: #b9bbbd;
 

}

.main-shimmer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
