*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     gap: 100px;
     background: linear-gradient(10deg,rgb(41, 32, 32),rgb(6, 6, 94));
    box-shadow: 10px 10px 10px rgba(12, 12, 55, 0.482);

}
.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
}
.nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: white;
    height: 60px;
    width: 120px;
}
.nav ul li img{
    width: 130px;
    height: 80px;
    border-radius: 10%;
}
.nav ul li svg{
    height: 70px;
    width: 40px;
}

.signIn{
    background-color: rgb(0, 80, 33);
    border-radius: 10px;
} 


/* Tablet View (768px and below) */
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        gap: 20px;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav ul li {
        width: 121%;/* Adjust width for better spacing */
    }

    .nav ul li img {
        width: 100px; /* Adjust image size */
        height: auto;
    }

    .nav ul li svg {
        height: 50px; /* Adjust SVG size */
        width: 30px;
    }
}

/* Mobile View (576px and below) */
@media screen and (max-width: 576px) {
    .parentNavbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    .nav{
        width: 100%;
    }
    .nav ul {
        gap: 10px;
    }

    .nav ul li img {
        width: 80px; /* Adjust image size for smaller screens */
    }

    .nav ul li svg {
        height: 40px; /* Adjust SVG size for smaller screens */
        width: 25px;
    }
}
