.restrount{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 30px;


}
.Card{
    height: 350px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    cursor: pointer;
    border-radius: 10px;
}
.Card:hover{
    transform: scale(0.96);
    
}
.Card>img{
  border-radius: 10px;
}
.Card>img:hover{
    transform: scale(1.01);
    
}
.name{
    font-size: 20px;
    font-weight: bolder;

}
.rating{
    font-size: 15px;
    font-weight: bolder;
    color: green;

}
.cuisines{
    font-size: 15px;
    font-weight: bolder;
}